<div class="header">
    <div class="c">
        <p class="title">
            {{ 'settings.title' | translate }}
        </p>
    </div>
</div>

<form class="content" [formGroup]="settingsForm" (change)="updateSettings()">
    <!-- design -->
    <div class="block">
        <h3>{{ 'settings.design.title' | translate }}</h3>

        <div>
            <p>{{ 'settings.design.systemTheme' | translate }}</p>
            
            <label class="switch">
                <input type="checkbox" formControlName="systemTheme" name="systemTheme" [(ngModel)]="settings.systemTheme">
                <span class="slider"></span>
            </label>
        </div>

        <div [ngClass]="{'disabled': this.settings.systemTheme }">
            <p>{{ 'settings.design.darkmode' | translate }}</p>
            
            <!-- enabled -->
            <label class="switch " *ngIf="!this.settings.systemTheme">
                <input type="checkbox" formControlName="darkmode" name="darkmode" [(ngModel)]="settings.darkmode">
                <span class="slider"></span>
            </label>

            <!-- disabled -->
            <label class="switch" *ngIf="this.settings.systemTheme">
                <span class="slider"></span>
            </label>
        </div>

    </div>
    
    <!-- develop -->
    <div class="block">
        <h3>{{ 'settings.development.title' | translate }}</h3>

        <div>
            <p>{{ 'settings.development.developer' | translate }}</p>
            <a class="answer" href="http://jpromi.com/socialmedia" target="_blank" rel="noopener noreferrer">JPromi</a>
        </div>

        <div>
            <p>{{ 'settings.development.feedback' | translate }}</p>
            <a class="answer" href="mailto:hi@jpromi.com?subject=Ausgsteckt%20Is%20-%20App">hi@jpromi.com</a>
        </div>

        <div>
            <p>{{ 'settings.development.repo' | translate }}</p>
            <a class="answer" href="https://github.com/JPromi/ausgsteckt-is" target="_blank" rel="noopener noreferrer">Ausgsteckt Is</a>
        </div>

        <div>
            <p>{{ 'settings.development.buildType' | translate }}</p>
            <a class="answer"> {{ envInfo.type }} </a>
        </div>

        <div>
            <p>{{ 'settings.development.version' | translate }}</p>
            <a class="answer"> {{ envInfo.version }} </a>
        </div>

        <div (click)="specialMode()">
            <p>{{ 'settings.development.buildDate' | translate }}</p>
            <a class="answer"> {{ envInfo.buildDate }} </a>
        </div>

    </div>
</form>