<div class="header">
    <div class="c">
        <p class="title">
            {{ 'settings.title' | translate }}
        </p>
    </div>
</div>

<form class="content" [formGroup]="settingsForm" (change)="updateSettings()">
    <!-- design -->
    <div class="block">
        <h3>{{ 'settings.design.title' | translate }}</h3>

        <div>
            <p>{{ 'settings.design.systemTheme' | translate }}</p>
            
            <label class="switch">
                <input type="checkbox" formControlName="systemTheme" name="systemTheme" [(ngModel)]="settings.systemTheme">
                <span class="slider"></span>
            </label>
        </div>

        <div [ngClass]="{'disabled': this.settings.systemTheme }">
            <p>{{ 'settings.design.darkmode' | translate }}</p>
            
            <!-- enabled -->
            <label class="switch " *ngIf="!this.settings.systemTheme">
                <input type="checkbox" formControlName="darkmode" name="darkmode" [(ngModel)]="settings.darkmode">
                <span class="slider"></span>
            </label>

            <!-- disabled -->
            <label class="switch" *ngIf="this.settings.systemTheme">
                <span class="slider"></span>
            </label>
        </div>

    </div>

    <div class="block">
        <h3>{{ 'settings.storage.title' | translate }}</h3>

        <div>
            <p (click)="resetStorage('favourites')" class="linebutton">{{ 'settings.storage.delete.favourites' | translate }}</p>
        </div>
        <div>
            <p (click)="resetStorage('heurigen')" class="linebutton">{{ 'settings.storage.delete.heurigen' | translate }}</p>
        </div>
        <div>
            <p (click)="resetStorage('taxi')" class="linebutton">{{ 'settings.storage.delete.taxi' | translate }}</p>
        </div>
        <div>
            <p (click)="resetStorage('all')" class="linebutton">{{ 'settings.storage.delete.all' | translate }}</p>
        </div>
    </div>

    <!-- language -->
    <div class="block">
        <h3>{{ 'settings.language.title' | translate }}</h3>

        <div>
            <p>{{ 'settings.language.languages' | translate }}</p>
            <button mat-icon-button [matMenuTriggerFor]="languageMenu" class="lang_select">
                <p> {{ getLanguage(settings.language).name }} </p>
                <img
                    [src]="'/assets/flags/' + getLanguage(settings.language).flag + '.png'"
                    onerror="this.src='./assets/flags/placeholder.png';"
                >
            </button>

            <mat-menu #languageMenu="matMenu" [xPosition]="'before'" class="lang_menu">
                <ng-container *ngFor="let lang of languages">
                    <button mat-menu-item (click)="setLanguage(lang.code)">
                        <img
                            [src]="'/assets/flags/' + lang.flag + '.png'"
                            onerror="this.src='./assets/flags/placeholder.png';"
                        >
                        <span> {{lang.name}} </span>
                    </button>
                </ng-container>
            </mat-menu>
        </div>

    </div>

    <!-- develop -->
    <div class="block">
        <h3>{{ 'settings.development.title' | translate }}</h3>

        <div>
            <p>{{ 'settings.development.developer' | translate }}</p>
            <a class="answer" href="http://jpromi.com/socialmedia" target="_blank" rel="noopener noreferrer">JPromi</a>
        </div>

        <div>
            <p>{{ 'settings.development.feedback' | translate }}</p>
            <a class="answer" href="mailto:hi@jpromi.com?subject=Ausgsteckt%20Is%20-%20App">hi@jpromi.com</a>
        </div>

        <div>
            <p>{{ 'settings.development.repo' | translate }}</p>
            <a class="answer" href="https://github.com/JPromi/ausgsteckt-is" target="_blank" rel="noopener noreferrer">Ausgsteckt Is</a>
        </div>

        <div>
            <p>{{ 'settings.development.buildType' | translate }}</p>
            <a class="answer"> {{ envInfo.type }} </a>
        </div>

        <div>
            <p>{{ 'settings.development.version' | translate }}</p>
            <a class="answer"> {{ envInfo.version }} </a>
        </div>

        <div (click)="specialMode()">
            <p>{{ 'settings.development.buildDate' | translate }}</p>
            <a class="answer"> {{ envInfo.buildDate }} </a>
        </div>

    </div>
</form>