<div class="header">
    <div class="c">
        <p class="title">
            Einstellungen
        </p>
    </div>
</div>

<form class="content" [formGroup]="settingsForm" (change)="updateSettings()">
    <!-- design -->
    <div class="block">
        <h3>Design</h3>

        <div>
            <p>System Theme</p>
            
            <label class="switch">
                <input type="checkbox" formControlName="systemTheme" name="systemTheme" [(ngModel)]="settings.systemTheme">
                <span class="slider"></span>
            </label>
        </div>

        <div [ngClass]="{'disabled': this.settings.systemTheme }">
            <p>Darkmode</p>
            
            <!-- enabled -->
            <label class="switch " *ngIf="!this.settings.systemTheme">
                <input type="checkbox" formControlName="darkmode" name="darkmode" [(ngModel)]="settings.darkmode">
                <span class="slider"></span>
            </label>

            <!-- disabled -->
            <label class="switch" *ngIf="this.settings.systemTheme">
                <span class="slider"></span>
            </label>
        </div>

    </div>
    
    <!-- develop -->
    <div class="block">
        <h3>Entwicklung</h3>

        <div>
            <p>Entwickler:</p>
            <a class="answer" href="http://jpromi.com/socialmedia" target="_blank" rel="noopener noreferrer">JPromi</a>
        </div>

        <div>
            <p>Feedback / Fehler:</p>
            <a class="answer" href="mailto:hi@jpromi.com?subject=Ausgsteckt%20Is%20-%20App">hi@jpromi.com</a>
        </div>

        <div>
            <p>GitHub repository:</p>
            <a class="answer" href="https://github.com/JPromi/ausgsteckt-is" target="_blank" rel="noopener noreferrer">Ausgsteckt Is</a>
        </div>

        <div>
            <p>Build Type:</p>
            <a class="answer"> {{ envInfo.type }} </a>
        </div>

        <div>
            <p>Version:</p>
            <a class="answer"> {{ envInfo.version }} </a>
        </div>

        <div (click)="specialMode()">
            <p>Build date:</p>
            <a class="answer"> {{ envInfo.buildDate }} </a>
        </div>

    </div>
</form>