<div class="header">
    <p>
        Alle Heurigen
    </p>  
</div>
<div class="heurigen-list skeleton" *ngIf="!heurigen">
    <a *ngFor="let n of numSequence(6);
                let i = index;">
        <span class="img"></span>
        <div class="informations">
            <h3 class="title"></h3>
            <p class="text"></p>
        </div>
    </a>
    
</div>

<div class="heurigen-list" *ngIf="heurigen">
    <a 
        *ngFor="let heuriger of heurigen"
        [routerLink]="['/heurigen', heuriger.nameId]">
        <img 
            [src]="'/assets/heurigen/' + heuriger.nameId + '.png'"
            onerror="this.src='./assets/heurigen/placeholder.png';">
        <div class="informations">
            <h3>{{ heuriger.name }}</h3>
            <p>{{ heuriger.address }}</p>
        </div>
    </a>
</div>