<div class="header">
    <div class="c">
        <p class="title">
            {{ 'heurigen.title' | translate }}
        </p>
    </div>
</div>

<div class="heurigen-list skeleton" *ngIf="!requestLoaded">
    <a *ngFor="let n of numSequence(6);
                let i = index;">
        <span class="img"></span>
        <div class="informations">
            <h3 class="title"></h3>
            <p class="text"></p>
        </div>
    </a>
    
</div>

<div class="heurigen-list" *ngIf="requestLoaded && heurigen">

    <a 
        *ngFor="let heuriger of heurigen"
        [routerLink]="['/heurigen', heuriger.nameId]">
        <img 
            [src]="'/assets/heurigen/' + heuriger.nameId + '.png'"
            onerror="this.src='./assets/heurigen/placeholder.png';">
        <div class="informations">
            <h3>{{ heuriger.name }}</h3>
            <p>{{ heuriger.address }}</p>
        </div>
    </a>
</div>

<div class="heurigen-list" *ngIf="!heurigen && requestLoaded">
    <a>{{ 'heurigen.error' | translate }}</a>
</div>