<div class="header">
    <div class="c">
        <p class="title">
            {{ 'taxi.title' | translate }}
        </p>
    </div>
</div>

<div class="taxi-list skeleton" *ngIf="!requestLoaded">
    <a *ngFor="let n of numSequence(4);
                let i = index;">
        <span class="img"></span>
        <div class="informations">
            <h3 class="title"></h3>
            <p class="text"></p>
        </div>
    </a>
    
</div>

<div class="taxi-list" *ngIf="requestLoaded && taxi">
    <a 
        *ngFor="let _taxi of taxi"
        (click)="expand($event)">
        <div class="top">
            <img 
                [src]="'/assets/taxi/' + _taxi.nameId + '.png'"
                onerror="this.src='./assets/taxi/placeholder.png';">
            <div class="informations">
                <h3>{{ _taxi.name }}</h3>
                <p>{{ _taxi.phone }}</p>
            </div>
        </div>
        <div class="expand">
            <div class="buttons">
                <a [href]="'tel:' + _taxi.phone">
                    <mat-icon>phone</mat-icon>
                </a>
                <a [href]="_taxi.website" target="_blank" rel="noopener noreferrer">
                    <mat-icon>language</mat-icon>
                </a>
            </div>
        </div>
    </a>

    <a
        (click)="expand($event)">
        <div class="top">
            <img 
                [src]="'/assets/taxi/vor-anachb.png'"
                onerror="this.src='./assets/taxi/placeholder.png';">
            <div class="informations">
                <h3>VOR - A nach B</h3>
                <p>https://anachb.vor.at</p>
            </div>
        </div>
        <div class="expand">
            <div class="buttons">
                <a href="https://anachb.vor.at" target="_blank" rel="noopener noreferrer">
                    <mat-icon>language</mat-icon>
                </a>
            </div>
        </div>
    </a>
</div>