<div class="header">
    <div class="c">
        <p class="title">
            {{ 'taxi.title' | translate }}
        </p>
    </div>
</div>

<div class="taxi-list skeleton" *ngIf="!requestLoaded">
    <a *ngFor="let n of numSequence(4);
                let i = index;">
        <span class="img"></span>
        <div class="informations">
            <h3 class="title"></h3>
            <p class="text"></p>
        </div>
    </a>
    
</div>

<div class="taxi-list" *ngIf="requestLoaded && taxi">
    <a 
        *ngFor="let _taxi of taxi"
        [href]="'tel:' + _taxi.phone">
        <img 
            [src]="'/assets/taxi/' + _taxi.nameId + '.png'"
            onerror="this.src='./assets/taxi/placeholder.png';">
        <div class="informations">
            <h3>{{ _taxi.name }}</h3>
            <p>{{ _taxi.phone }}</p>
        </div>
    </a>
    <a
        href="https://anachb.vor.at">
        <img 
            [src]="'/assets/taxi/vor-anachb.png'"
            onerror="this.src='./assets/taxi/placeholder.png';">
        <div class="informations">
            <h3>VOR - A nach B</h3>
            <p>https://anachb.vor.at</p>
        </div>
    </a>
</div>