<div class="header">
    <div class="c">
        <a (click)="changeSearchType()" class="toggle" *ngIf="!this.error">
            <mat-icon *ngIf="!this.searchByDate"> event </mat-icon>
            <mat-icon *ngIf="this.searchByDate"> storefront </mat-icon>
        </a>

        <ng-container *ngIf="this.searchByDate && !this.error">
            <a class="navigation" (click)="lastDate()">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </a>
        
            <p class="title">
                <mat-form-field style="width:1px;visibility:hidden;">
                    <input matInput [matDatepicker]="datePicker" [formControl]="selectedDate" (dateChange)="specificDate($event)">
                    <mat-datepicker #datePicker panelClass="selectDate"></mat-datepicker>
                </mat-form-field>
                <label>
                    
                    <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                </label>
                <a> {{ dateDisplay }} </a>
            </p>
        
            <a class="navigation" (click)="nextDate()">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </a>
        </ng-container>

        <ng-container *ngIf="!this.searchByDate && !this.error">
            <p class="title">{{ 'maps.allHeurigen.title' | translate }}</p>
        </ng-container>
        <ng-container *ngIf="this.error">
            <p class="title">{{ 'maps.title' | translate }}</p>
        </ng-container>
    </div>
</div>

<div class="map" *ngIf="!error && scriptLoaded">
    <google-map
        *ngIf="this.heurigenLoaded || true"
        height="100%"
        width="100%"
        [options]="mapOptions"
    >

        <ng-container *ngFor="let heuriger of heurigenList">
            <map-marker
                [position]="{ lat: heuriger.coordinates.lat, lng: heuriger.coordinates.lng }"
                [options]="generateMarkerIcon('./assets/heurigen/needle/' + heuriger.nameId + '.png')"
                (mapClick)="openInfoWindow(marker, infoWindow)"
                #marker="mapMarker"
            >
            </map-marker>
            <map-info-window #infoWindow="mapInfoWindow">
                <div class="top">
                    <img
                        [src]="'/assets/heurigen/' + heuriger.nameId + '.png'"
                        onerror="this.src='./assets/heurigen/placeholder.png';"
                    >
                    <div class="text">
                        <h3>{{ heuriger.name }}</h3>
                        <p>{{ heuriger.address }}</p>
                    </div>
                </div>

                <div class="infos">
                    <ng-container *ngIf="heuriger.daysRemain">
                        <p *ngIf="heuriger.daysRemain > 1">{{ 'heuriger.informations.opened.1' | translate }} {{ heuriger.daysRemain }} {{ 'heuriger.informations.opened.2' | translate }}</p>
                        <p *ngIf="heuriger.daysRemain <= 1">{{ 'heuriger.informations.opened.today' | translate }}</p>
                    </ng-container>
                </div>

                <div class="buttonNavigation">
                    <a [href]="heuriger.link" [target]="'_blank'" *ngIf="heuriger.link"><mat-icon>language</mat-icon></a>
                    <a *ngIf="!heuriger.link"></a>
                    <a [href]="'tel:' + heuriger.phone.main" *ngIf="heuriger.phone.main"><mat-icon>call</mat-icon></a>
                    <a *ngIf="!heuriger.phone.main"></a>
                    <a [href]="this.generateMapsLink(heuriger)" [target]="'_blank'"><mat-icon>directions_walk</mat-icon></a>
                    <a [routerLink]="generateSingleViewLink(heuriger)"><mat-icon>info_i</mat-icon></a>
                </div>
            </map-info-window>
        </ng-container>
        
        <!-- <map-marker
        *ngIf="currentLocation.allowed"
        [position]="{ lat: currentLocation.lat, lng: currentLocation.lng }"
        [options]="getCurrentLocationOptions()"
        >
        </map-marker> -->

    </google-map>
</div>

<div class="error" *ngIf="this.error">
    <p>{{ 'maps.error' | translate }}</p>
</div>