<div class="header">
    <div class="c">
        <a class="navigation" (click)="lastDate()">
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
        </a>
    
        <p class="date">
            <label>
                <span class="material-symbols-outlined">
                    calendar_month
                </span>
            </label>
            {{ dateDisplay }}
        </p>
    
        <a class="navigation" (click)="nextDate()">
            <span class="material-symbols-outlined">
                arrow_forward_ios
            </span>
        </a>
    </div>
</div>

<div class="heurigen-list skeleton" *ngIf="!currentHeurigen">
    <a *ngFor="let n of numSequence(6);
                let i = index;">
        <span class="img"></span>
        <div class="informations">
            <h3 class="title"></h3>
            <p class="text"></p>
        </div>
    </a>
    
</div>

<div class="heurigen-list" *ngIf="currentHeurigen">
    <a 
        *ngFor="let heuriger of currentHeurigen"
        [routerLink]="['/heurigen', heuriger.nameId]"
        >

        <img 
            *ngIf="heuriger.type == 'heuriger'"
            [src]="'/assets/heurigen/' + heuriger.nameId + '.png'"
            onerror="this.src='./assets/heurigen/placeholder.png';">

        <img 
            *ngIf="heuriger.type == 'event'"
            [src]="'/assets/heurigen/event.png'"
            onerror="this.src='./assets/heurigen/placeholder.png';">

        <img 
            *ngIf="heuriger.type == 'weinrat'"
            [src]="'/assets/heurigen/weinrat.png'"
            onerror="this.src='./assets/heurigen/placeholder.png';">
        
        <img 
            *ngIf="heuriger.type == null"
            [src]="'/assets/heurigen/placeholder.png'">
        <div class="informations">
            <h3>{{ heuriger.name }}</h3>
            <p>{{ heuriger.address }}</p>
        </div>
    </a>
</div>