<div class="header">
    <div class="c">
        <a class="navigation" (click)="lastDate()">
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
        </a>
    
        <p class="date">
            <mat-form-field style="width:1px;visibility:hidden;">
                <input matInput [matDatepicker]="datePicker" [formControl]="selectedDate" (dateChange)="specificDate($event)">
                <mat-datepicker #datePicker panelClass="selectDate"></mat-datepicker>
            </mat-form-field>
            <label>
                
                <mat-datepicker-toggle matIconSuffix [for]="datePicker">
                    <img src="/assets/icons/jmat/icon_calendar_fill.svg" matDatepickerToggleIcon>
                </mat-datepicker-toggle>
            </label>
            <a> {{ dateDisplay }} </a>
        </p>
    
        <a class="navigation" (click)="nextDate()">
            <span class="material-symbols-outlined">
                arrow_forward_ios
            </span>
        </a>
    </div>
</div>

<div class="heurigen-list skeleton" *ngIf="!requestLoaded">
    <a *ngFor="let n of numSequence(6);
                let i = index;">
        <span class="img"></span>
        <div class="informations">
            <h3 class="title"></h3>
            <p class="text"></p>
        </div>
    </a>
    
</div>

<div class="heurigen-list" *ngIf="currentHeurigen && requestLoaded">
    <a 
        *ngFor="let heuriger of currentHeurigen"
        [routerLink]="[generateSingleViewLink(heuriger)]"
        [ngClass]="{'favourite': heuriger.favourite}"
        >

        <img 
            *ngIf="heuriger.type == 'heuriger'"
            [src]="'/assets/heurigen/' + heuriger.nameId + '.png'"
            onerror="this.src='./assets/heurigen/placeholder.png';">

        <img 
            *ngIf="heuriger.type == 'event'"
            [src]="'/assets/heurigen/event.png'"
            onerror="this.src='./assets/heurigen/placeholder.png';">

        <img 
            *ngIf="heuriger.type == 'weinrat'"
            [src]="'/assets/heurigen/weinrat.png'"
            onerror="this.src='./assets/heurigen/placeholder.png';">
        
        <img 
            *ngIf="heuriger.type == null"
            [src]="'/assets/heurigen/placeholder.png'">
        <div class="informations">
            <h3>{{ heuriger.name }}</h3>
            <p>{{ heuriger.address }}</p>
        </div>
        <p class="daysRemain">{{ heuriger.daysRemain }}</p>
    </a>
</div>
<div class="heurigen-list" *ngIf="currentHeurigen.length == 0 && requestLoaded">
    <a class="error"> {{ 'ausgsteckt.error' | translate }} </a>
</div>