:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}
.header {
    padding-top: var(--padding-top);
    position: relative;
    width: 100%;
    background-color: var(--color-header);

    .c {
        color: var(--color-header-text);
        padding: 1rem;
        display: flex;
        gap: 1rem;
        height: 1.5rem;
        max-width: 50rem;
        margin: 0 auto;

        .date {
            color: var(--color-header-text);
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
            }
            
            a {
                padding: 0 12px;
            }
        }
    
        .navigation {
            width: fit-content;
            display: flex;
            cursor: pointer;
        }
        
        .mat-datepicker-toggle {
            color: var(--color-header-text);
        }

    }
    
}

::ng-deep {
    .selectDate {
        background: #f5f5f5;
        color: #000;

        .mat-mdc-icon-button, .mat-mdc-icon-button.mat-mdc-button-base, .mat-mdc-icon-button {
            padding: 0 !important;
            height: 0 !important;
            width: 0 !important;
        }

        .mat-calendar-body-today:not(.mat-calendar-body-selected){
            border-color: #21212175;
        }

        .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
            background-color: #e2a31c50;
        }

        .mat-calendar-body-selected {
            background-color: #c08c1b50;
        }

        .mat-calendar-table-header,
        .mat-calendar-body-cell-content,
        .mat-date-range-input-separator,
        .mat-mdc-button:not(:disabled),
        .mat-calendar-arrow,
        .mat-datepicker-toggle,
        .mat-datepicker-content,
        .mat-calendar-body-label,
        .mat-calendar-next-button,
        .mat-datepicker-content,
        .mat-calendar-previous-button {
            color: #212121bb;
            fill: #212121bb;
        }
    }
}

.heurigen-list {
    padding: .5rem 0;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: .25rem;

    a {
        animation: opacityIn 500ms;
        padding: .75rem 1rem;
        //border-bottom: 1px solid #21212150;
        box-shadow: 0 .1rem .2rem var(--color-list-shadow);
        display: flex;
        color: #000;
        background-color: var(--color-list);
        text-decoration: none;
        gap: .75rem;
        align-items: center;

        .informations {
            width: 100%;
        }

        h3 {
            color: var(--color-title);
            font-size: 1rem;
        }

        p {
            width: 100%;
            font-size: .9rem;
            color: var(--color-text);
            opacity: .8;
        }

        img, .img {
            width: 3.75rem;
            height: 3.75rem;
            border-radius: .5rem;
            object-fit: cover;
        }

        p.daysRemain {
            text-align: right;
            margin-left: -11rem;
            margin-top: 0rem;
            font-size: 4.5rem;
            opacity: 0.05;
            height: 4rem;
            overflow: hidden;
            color: var(--color-text);
        }
    }
}

// sceleton
.heurigen-list.skeleton {
    a {
        animation: opacityIn 0ms;

        .informations {
            display: flex;
            flex-direction: column;
            gap: .6rem;
            
            h3 {
                max-width: 350px;
                width: 35vw;
                height: 1.1rem;
            }
            
            p {
                max-width: 500px;
                width: 50vw;
                height: 1rem;
            }
        }
        
        .img, .title, .text {
            background: var(--ghost-background);
            background: linear-gradient(110deg, var(--ghost-shine-1) 8%, var(--ghost-shine-2) 18%, var(--ghost-shine-1) 33%);
            border-radius: 5px;
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
        }
    }
    
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 700px) {
    .heurigen-list {
        a {
            margin: 0 auto;
            width: 700px;
        }
    }
}