<nav>
    <ul>
        <li>
            <a routerLink="/karte" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    map
                </span>
                <!-- <p>{{ 'nav.maps' | translate }}</p> -->
            </a>
        </li>
        <li>
            <a routerLink="/heurigen" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    storefront
                </span>
                <!-- <p>{{ 'nav.heurigen' | translate }}</p> -->
            </a>
        </li>
        <!-- <li>
            <a routerLink="/home" routerLinkActive="active" class="home">
                <span class="material-symbols-outlined">
                home
                </span>
            </a>
        </li> -->
        <li>
            <a routerLink="/ausgsteckt" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    event
                </span>
                <!-- <p>{{ 'nav.ausgsteckt' | translate }}</p> -->
            </a>
        </li>
        <li>
            <a routerLink="/taxi" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    local_taxi
                </span>
                <!-- <p>{{ 'nav.taxi' | translate }}</p> -->
            </a>
        </li>
        <li>
            <a routerLink="/settings" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    settings
                </span>
                <!-- <p>{{ 'nav.settings' | translate }}</p> -->
            </a>
        </li>
    </ul>
</nav>