<nav>
    <ul>
        <li>
            <a routerLink="/ausgsteckt" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    event
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/heurigen" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    storefront
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/home" routerLinkActive="active" class="home">
                <span class="material-symbols-outlined">
                home
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/flyer" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    newspaper
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/taxi" routerLinkActive="active">
                <span class="material-symbols-outlined">
                    local_taxi
                </span>
            </a>
        </li>
    </ul>
</nav>