nav {
    display: inline-block;
    // position: fixed;
    // bottom: 0;
    width: 100%;
    background-color: var(--nav-background);
    box-shadow: .25rem .25rem 1rem #00000050;
    
    ul {
        padding: 1rem 1rem calc(var(--padding-bottom) + 1rem) 1rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        width: calc(100% - 2rem);
        margin: 0 auto;

        li {
            list-style-type: none;
            width: fit-content;
            margin: 0 auto;
            max-width: 100%;
            overflow: hidden;

            a.home {
                position: absolute;
                top: -7vw;
                left: 0;
                right: 0;
                margin: 0 auto;
                padding: 4vw;
                border-radius: 100%;
    
                background-color: #b92121;
                color: #FFF;
                box-shadow: .25rem .25rem 1rem #00000050;

                span {
                    font-size: 10vw;
                }
            }

            a.home.active {
                color: #d86868;
            }

            a {
                max-width: 100%;
                display: flex;
                color: var(--nav-icon);
                text-decoration: none;
                width: fit-content;
                height: fit-content;
                transition: color ease-in-out 150ms;
                flex-direction: column;
                align-items: center;
                gap: .25rem;

                span {
                    font-size: 6.75vw;
                }

                svg {
                    width: 26px;
                    height: 26px;
                    .cls-1 {
                        fill: var(--nav-icon);
                        opacity: .75;
                        transition: fill ease-in-out 150ms,
                                    opacity ease-in-out 150ms;
                    }
                }

                p {
                    font-size: .4rem;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            a.active {
                color: var(--nav-icon-active);

                svg {
                    .cls-1 {
                        opacity: 1;
                        fill: var(--nav-icon-active);
                    }
                }
            }
        }

        
    }
}

@media screen and (min-width: 800px) {
    nav {
        ul {
            width: 800px;
            margin: 0 auto;  
        }
    }
}

@media screen and (min-width: 400px) {
    nav {
        ul {
            li {
                a.home {
                    top: -2rem;
                    padding: 1rem;
    
                    span {
                        font-size: 2rem;
                    }
                }

                a {
    
                    span {
                        font-size: 1.5rem;
                    }
                }
            }
    
            
        }
    }
}