body {
    --color-header: #79e975;
    --color-header-text: #000000;
    --color-title: #161616;
    --color-text: #000000;
    --color-text-pale: #cecece;
    --color-icons: #000000;
    --color-list: #FFFFFF;
    --color-list-shadow: #21212110;
    --nav-background: #F5F5F5;
    --nav-icon: #000000;
    --nav-icon-active: #b92121;
    --background-color: #FFFFFF;
    
    --ghost-background: #EEEEEE;
    --ghost-shine-1: #ECECEC;
    --ghost-shine-2: #F5F5F5;
    
    --dropdown-background: #f0f0f0;
}

body.darkmode {
    --color-header: #498d47;
    --color-header-text: #FFFFFF;
    --color-header-buttons: #FFFFFF;
    --color-title: #ececec;
    --color-text: #FFFFFF;
    --color-text-pale: #5a5a5a;
    --color-icons: #FFFFFF;
    --color-list: #212121;
    --color-list-shadow: #ffffff10;
    --nav-background: #3d3d3d;
    --nav-icon: #FFFFFF;
    --nav-icon-active: #b92121;
    --background-color: #212121;

    --ghost-background: #0e0e0e;
    --ghost-shine-1: #333333;
    --ghost-shine-2: #292929;

    --dropdown-background: #3d3d3d;
}

body.iOS {
    --padding-top: 16px;
    --padding-bottom: 4px;
}

body {
    --padding-top: 0px;
    --padding-bottom: 0px;
}

body.invert {
    filter: invert(1);
}

body, html, app-root {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

app-root {
    display: flex;
    flex-direction: column;
}

span {
    user-select: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }