body, body.LSD {
    --color-header: #79e975;
    --color-header-text: #000000;
    --color-title: #161616;
    --color-text: #000000;
    --color-text-pale: #cecece;
    --color-icons: #000000;
    --color-list: #FFFFFF;
    --color-list-shadow: #21212110;
    --background-list-favourite: #cafff8;
    --nav-background: #F5F5F5;
    --nav-icon: #000000;
    --nav-icon-active: #b92121;
    --background-color: #FFFFFF;
    
    --ghost-background: #EEEEEE;
    --ghost-shine-1: #ECECEC;
    --ghost-shine-2: #F5F5F5;
    
    --dropdown-background: #f0f0f0;
}

body.darkmode {
    --color-header: #498d47;
    --color-header-text: #FFFFFF;
    --color-header-buttons: #FFFFFF;
    --color-title: #ececec;
    --color-text: #FFFFFF;
    --color-text-pale: #5a5a5a;
    --color-icons: #FFFFFF;
    --color-list: #212121;
    --color-list-shadow: #ffffff10;
    --background-list-favourite: #283836;
    --nav-background: #3d3d3d;
    --nav-icon: #FFFFFF;
    --nav-icon-active: #b92121;
    --background-color: #212121;

    --ghost-background: #0e0e0e;
    --ghost-shine-1: #333333;
    --ghost-shine-2: #292929;

    --dropdown-background: #3d3d3d;
}

body {
    --padding-top: env(safe-area-inset-top);
    --padding-bottom: env(safe-area-inset-bottom);
}

body.invert {
    filter: invert(1);
}

body.LSD {
    animation: LSD 5000ms;
    animation-iteration-count: infinite;
    --background-color: #00ff62 !important;
    --color-list: #dcff5c !important;
    
    --dropdown-background: #f0f0f0;
}

body, html, app-root {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

app-root {
    display: flex;
    flex-direction: column;
}

span {
    user-select: none;
}

body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }

// Google Material Icons
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/mat-icon.woff2') format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/mat-icon_filled.woff2') format('woff2');
}
  
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

// Google Fonts
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/poppins_uc1.woff2') format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/poppins_uc2.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/poppins_uc3.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes LSD {
    0% {
      filter: hue-rotate(0deg);
    }
  
    100% {
        filter: hue-rotate(360deg);
    }
  }