:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-color);
}

.header {
    padding-top: var(--padding-top);
    position: relative;
    width: 100%;
    background-color: var(--color-header);

    .c {
        padding: 1rem;
        display: flex;
        gap: 1rem;
        height: 1.5rem;
        max-width: 50rem;
        margin: 0 auto;
    
        .navigator {
            color: var(--color-header-text);
            text-decoration: none;
            width: fit-content;
            display: flex;
            cursor: pointer;
        }
    }
}

.content {
    height: 100%;
    overflow: auto;
    .c {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .top {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
    
            .information {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                h4 {
                    color: var(--color-title);
                    font-size: 1.25rem;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    gap: .75rem;

                    button {
                        background-color: transparent;
                        border: 0;
                        cursor: pointer;
                        width: 2rem;
                        height: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            color: var(--color-text-pale);
                        }
                    }
                }
            }
    
            img, .img {
                object-fit: cover;
                width: 7rem;
                height: 7rem;
                border-radius: .75rem;
                box-shadow: .5rem .5rem 2rem var(--color-list-shadow);
            }
        }
    
        .info {
            display: flex;
            flex-direction: column;
            margin-bottom: 5vw;
            gap: .25rem;
    
            a {
                box-shadow: 0 .2rem .5rem var(--color-list-shadow);
                padding: .5rem;
    
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                
                color: var(--color-text);
                text-decoration: none;
                background-color: var(--color-list);
                border-radius: .5rem;
    
                p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                }
            }
        }
    
        .calendar {
            width: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .note {
                display: flex;
                flex-direction: column;
                width: 90%;
                margin: 0 auto;
                height: fit-content;
                color: var(--color-text);

                h2 {
                    font-size: 1.2rem;
                }

                p {
                    white-space: pre-wrap;
                    max-width: 100%;
                    overflow: hidden;
                    line-break: anywhere;
                }
            }
    
            h3 {
                color: var(--color-title);
                font-size: .9rem;
                font-weight: normal;
            }
    
            .date {
                display: grid;
                grid-template-columns: repeat(2, 1fr) 30px;
                width: 85%;
                width: fit-content;
                gap: 1rem;
                margin: 0 auto;
    
                p {
                    color: var(--color-text);
                    font-weight: lighter;
                }

                mat-icon {
                    color: var(--color-text-pale);
                    cursor: pointer;
                }
            }
    
            div.title {
                color: var(--color-title);
                display: grid;
                grid-template-columns: repeat(2, 1fr) 30px;
                gap: 1rem;
                width: 85%;
                width: fit-content;
                margin: 0 auto;

                span {
                    width: 24px;
                    height: 24px;
                    content: '';
                }
            }
        }

    }
}

// sceleton
.content.skeleton {

    h4 {
        width: 100%;
        height: 1.75rem;
    }

    .img {
        border-style: none;
        height: 7rem;
        min-width: 7rem;
    }

    a {
        height: 1.5rem;
        margin-bottom: .25rem;
    }
    
    h4, .img, a {
        background: var(--ghost-background);
        background: linear-gradient(110deg, var(--ghost-shine-1) 8%, var(--ghost-shine-2) 18%, var(--ghost-shine-1) 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }
    
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}

@media screen and (min-width: 700px) {
    .content {
        .c {
            margin: 0 auto;
            width: calc(700px - 4rem);
        }
    }
}

@media screen and (max-width: 330px) {
    .content {
    
        .top {
            flex-direction:column-reverse;
        }
    }
}