<div class="header">
    <div class="c">
        <a (click)="backClick()" class="navigator">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </a>
    </div>
</div>

<div class="content skeleton" *ngIf="heurigerLoading">
    <div class="top">
        <h4></h4>
        <span class="img"></span>
    </div>

    <div class="info">

        <a>
        </a>

        <a>
        </a>

        <a>
        </a>

        <a>
        </a>

        <a>
        </a>

    </div>
</div>

<div class="content" *ngIf="!heurigerLoading">
    <div class="c">
        <div class="top">
            <div class="information">
                <h4>{{ heuriger.name }}</h4>

                <div class="buttons">
                    <button (click)="toggleFavourite()">
                        <mat-icon *ngIf="this.heuriger.favourite">bookmark</mat-icon>
                        <mat-icon *ngIf="!this.heuriger.favourite" class="material-symbols-outlined">bookmark_outlined</mat-icon>
                    </button>

                    <button (click)="share()">
                        <mat-icon>share</mat-icon>
                    </button>
                </div>

            </div>
            <img [src]="'/assets/heurigen/' + heuriger.nameId + '.png'"
                onerror="this.src='./assets/heurigen/placeholder.png';">
        </div>
    
        <div class="info">
    
            <a [href]="mapsLink" target="_blank" rel="noopener noreferrer">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <p target="_blank"> {{ heuriger.address }} </p>
            </a>
    
            <a *ngIf="heuriger.phone.main" href="tel:{{ heuriger.phone.main }}">
                <span class="material-symbols-outlined">
                    call
                </span>
                <p> {{ heuriger.phone.main }} </p>
            </a>
            <a *ngIf="heuriger.phone.mobile" href="tel:{{ heuriger.phone.mobile }}">
                <span class="material-symbols-outlined">
                    call
                </span>
                <p> {{ heuriger.phone.mobile }} </p>
            </a>
    
            <a *ngIf="heuriger.email" href="mailto:{{ heuriger.email }}">
                <span class="material-symbols-outlined">
                    email
                </span>
                <p> {{ heuriger.email }} </p>
            </a>
    
            <a *ngIf="heuriger.link" [href]="heuriger.link" target="_blank" rel="noopener noreferrer">
                <span class="material-symbols-outlined">
                    language
                </span>
                <p>{{ 'heuriger.informations.web' | translate }}</p>
            </a>
    
            <a *ngIf="heuriger.playground">
                <span class="material-symbols-outlined">
                    castle
                </span>
                <p>{{ 'heuriger.informations.playground' | translate }}</p>
            </a>
            
            <a *ngIf="heuriger.daysRemain">
                <span class="material-symbols-outlined">
                    schedule
                </span>
                <p *ngIf="heuriger.daysRemain > 1">{{ 'heuriger.informations.opened.1' | translate }} {{ heuriger.daysRemain }} {{ 'heuriger.informations.opened.2' | translate }}</p>
                <p *ngIf="heuriger.daysRemain <= 1">{{ 'heuriger.informations.opened.today' | translate }}</p>
            </a>
    
        </div>
    
        <div class="calendar">
            <h3>{{ 'heuriger.dates.title' | translate }}</h3>
            <div class="title">
                <p><b>{{ 'heuriger.dates.from' | translate }}</b></p>
                <p><b>{{ 'heuriger.dates.to' | translate }}</b></p>
            </div>
            <div *ngFor="let date of heuriger.ausgsteckt">
                <p>{{ convertDate(date.from) }}</p>
                <p>{{ convertDate(date.to) }}</p>
            </div>
        </div>
    </div>
</div>